<div
    class="md-drppicker"
    #pickerContainer
    [ngClass]="{
        ltr: locale.direction === 'ltr',
        rtl: this.locale.direction === 'rtl',
        shown: isShown || inline,
        hidden: !isShown && !inline,
        inline: inline,
        double: !singleDatePicker && showCalInRanges,
        'show-ranges': rangesArray.length
    }"
>
  <mat-tab-group dynamicHeight>
    <mat-tab class="tab" label="Ranges" *ngIf='ranges !== undefined'>
      <div *ngIf="rangesArray.length > 0" class="ranges">
          <ul>
              <li *ngFor="let range of rangesArray">
                  <button
                      type="button"
                      [disabled]="disableRange(range)"
                      [ngClass]="{ active: range === chosenRange }"
                      (click)="clickRange(range)"
                  >
                      {{ range }}
                  </button>
              </li>
          </ul>
      </div>
    </mat-tab>
    <mat-tab class="tab" label="Calendar">
      <div class="calendar" [ngClass]="{ right: singleDatePicker, left: !singleDatePicker }" *ngIf="showCalInRanges">
          <div class="calendar-table">
              <table class="table-condensed" *ngIf="calendarVariables">
                  <thead>
                      <tr>
                          <th *ngIf="showWeekNumbers || showISOWeekNumbers"></th>
                          <ng-container
                              *ngIf="
                                  !calendarVariables.left.minDate ||
                                  (calendarVariables.left.minDate.isBefore(calendarVariables.left.calendar.firstDay) &&
                                      (!this.linkedCalendars || true))
                              "
                          >
                              <th>
                                  <button class="navigation-button" mat-icon-button (click)="clickPrev(sideEnum.left)">
                                      <span class="calendar-icon calendar-icon--left"></span>
                                  </button>
                              </th>
                          </ng-container>
                          <ng-container
                              *ngIf="
                                  !(
                                      !calendarVariables.left.minDate ||
                                      (calendarVariables.left.minDate.isBefore(calendarVariables.left.calendar.firstDay) &&
                                          (!this.linkedCalendars || true))
                                  )
                              "
                          >
                              <th></th>
                          </ng-container>
                          <th colspan="5" class="month drp-animate">
                              <ng-container *ngIf="showDropdowns && calendarVariables.left.dropdowns">
                                  <div class="dropdowns">
                                      <mat-select [formControl]="fromMonthControl">
                                          <mat-option
                                              *ngFor="let m of calendarVariables.left.dropdowns.monthArrays"
                                              [value]="m"
                                              [disabled]="
                                                  (calendarVariables.left.dropdowns.inMinYear &&
                                                      m < calendarVariables.left.minDate.month()) ||
                                                  (calendarVariables.left.dropdowns.inMaxYear && m > calendarVariables.left.maxDate.month())
                                              "
                                          >
                                              {{ locale.monthNames[m] }}
                                          </mat-option>
                                      </mat-select>
                                  </div>
                                  <div class="dropdowns">
                                      <mat-select [formControl]="fromYearControl">
                                          <mat-option *ngFor="let y of calendarVariables.left.dropdowns.yearArrays" [value]="y">
                                              {{ y }}
                                          </mat-option>
                                      </mat-select>
                                  </div>
                              </ng-container>
                              <ng-container *ngIf="!showDropdowns || !calendarVariables.left.dropdowns">
                                  {{ this.locale.monthNames[calendarVariables?.left?.calendar[1][1].month()] }}
                                  {{ calendarVariables?.left?.calendar[1][1].format(' YYYY') }}
                              </ng-container>
                          </th>
                          <ng-container
                              *ngIf="
                                  (!calendarVariables.left.maxDate ||
                                      calendarVariables.left.maxDate.isAfter(calendarVariables.left.calendar.lastDay)) &&
                                  (!linkedCalendars || singleDatePicker)
                              "
                          >
                              <th>
                                  <button class="navigation-button" mat-icon-button (click)="clickNext(sideEnum.left)">
                                      <span class="calendar-icon calendar-icon--right"></span>
                                  </button>
                              </th>
                          </ng-container>
                          <ng-container
                              *ngIf="
                                  !(
                                      (!calendarVariables.left.maxDate ||
                                          calendarVariables.left.maxDate.isAfter(calendarVariables.left.calendar.lastDay)) &&
                                      (!linkedCalendars || singleDatePicker)
                                  )
                              "
                          >
                              <th></th>
                          </ng-container>
                      </tr>
                      <tr class="week-days">
                          <th *ngIf="showWeekNumbers || showISOWeekNumbers" class="week">
                              <span>{{ this.locale.weekLabel }}</span>
                          </th>
                          <th *ngFor="let dayofweek of locale.daysOfWeek">
                              <span>{{ dayofweek }}</span>
                          </th>
                      </tr>
                  </thead>
                  <tbody class="drp-animate">
                      <tr *ngFor="let row of calendarVariables.left.calRows" [class]="calendarVariables.left.classes[row].classList">
                          <!-- add week number -->
                          <td class="week" *ngIf="showWeekNumbers">
                              <span>{{ calendarVariables.left.calendar[row][0].week() }}</span>
                          </td>
                          <td class="week" *ngIf="showISOWeekNumbers">
                              <span>{{ calendarVariables.left.calendar[row][0].isoWeek() }}</span>
                          </td>
                          <!-- cal -->
                          <td
                              *ngFor="let col of calendarVariables.left.calCols"
                              [class]="calendarVariables.left.classes[row][col]"
                              (click)="clickDate($event, sideEnum.left, row, col)"
                              (mouseenter)="hoverDate($event, sideEnum.left, row, col)"
                          >
                              <span>{{ calendarVariables.left.calendar[row][col].date() }}</span>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
        <div class="calendar-time" *ngIf="timePicker"> <!-- start-time with input -->
          <span class='time-label'>From:</span>
            <div class="input">
                <input (keypress)="checkTime($event, timepickerVariables.left.selectedHour)" type="number" maxLength="2" class="input-item hourselect" [disabled]="!endDate" [ngModel]="timepickerVariables.left.selectedHour | time" (ngModelChange)="timepickerVariables.left.selectedHour = $event; timeChanged(sideEnum.left)">
                <span class="select-highlight"></span>
                <span class="select-bar"></span>
            </div>
            <div class="input">
                <input (keypress)="checkTime($event, timepickerVariables.left.selectedMinute)" type="number" maxLength="2" class="input-item minuteselect" [disabled]="!endDate" [ngModel]="timepickerVariables.left.selectedMinute | time" (ngModelChange)="timepickerVariables.left.selectedMinute = $event;timeChanged(sideEnum.left)">
                <span class="select-highlight"></span>
                <span class="select-bar"></span>
            </div>
            <div class="input">
                <input (keypress)="checkTime($event, timepickerVariables.left.selectedSecond)" type="number"  maxLength="2" *ngIf="timePickerSeconds" class="input-item secondselect" [disabled]="!endDate" [ngModel]="timepickerVariables.left.selectedSecond | time" (ngModelChange)="timepickerVariables.left.selectedSecond = $event;timeChanged(sideEnum.left)">

                <span class="select-highlight"></span>
                <span class="select-bar"></span>
            </div>
        </div>
        <div class="calendar-time" *ngIf="timePicker"> <!-- end-time with input -->
          <span class='time-label'>To:</span>
          <div class="input">
              <input (keypress)="checkTime($event, timepickerVariables.right.selectedHour)" type="number"  maxLength="2" class="input-item hourselect" [disabled]="!endDate" [ngModel]="timepickerVariables.right.selectedHour | time" (ngModelChange)="timepickerVariables.right.selectedHour = $event;timeChanged(sideEnum.right)">
              <span class="select-highlight"></span>
              <span class="select-bar"></span>
          </div>
          <div class="input">
              <input (keypress)="checkTime($event, timepickerVariables.right.selectedMinute)" type="number"  maxLength="2" class="input-item minuteselect" [disabled]="!endDate" [ngModel]="timepickerVariables.right.selectedMinute | time" (ngModelChange)="timepickerVariables.right.selectedMinute = $event;timeChanged(sideEnum.right)">
              <span class="select-highlight"></span>
              <span class="select-bar"></span>
          </div>
          <div class="input">
              <input (keypress)="checkTime($event, timepickerVariables.right.selectedSecond)" type="number"  maxLength="2" *ngIf="timePickerSeconds" class="input-item secondselect" [disabled]="!endDate" [ngModel]="timepickerVariables.right.selectedSecond | time" (ngModelChange)="timepickerVariables.right.selectedSecond = $event;timeChanged(sideEnum.right)">
              <span class="select-highlight"></span>
              <span class="select-bar"></span>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
    <div class="calendar-table" *ngIf="timeZone">
      <div class="select">
          <h3>Displayed timezone select</h3>
          <mat-select class="select-item hourselect" [disabled]="!endDate" [(ngModel)]="timepickerTimezone" (ngModelChange)="timeZoneChanged($event)">
              <mat-option *ngFor="let i of timepickerListZones"
              [value]="i"
              [disabled]="timepickerVariables.right.disabledHours.indexOf(i) > -1">{{i}}</mat-option>
          </mat-select>
          <span class="select-highlight"></span>
          <span class="select-bar"></span>
      </div>
    </div>
    <div class="buttons" *ngIf="!autoApply && (!rangesArray.length || (showCalInRanges && !singleDatePicker))">
        <div class="buttons_input">
            <button *ngIf="showClearButton" mat-raised-button type="button" [title]="locale.clearLabel" (click)="clear()">
                <span class="clear-button">
                    {{ locale.clearLabel }}
                    <span class="clear-icon">
                        <svg viewBox="0 0 24 24">
                            <path fill="currentColor" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
                        </svg>
                    </span>
                </span>
            </button>
            <button *ngIf="showCancel" mat-raised-button (click)="clickCancel()">{{ locale.cancelLabel }}</button>
            <button [disabled]="applyBtn.disabled" mat-raised-button color="primary" (click)="clickApply($event)">
                {{ locale.applyLabel }}
            </button>
        </div>
    </div>
</div>
